html{
   height: 100%;
   width: 100%;
}

body{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(6, 6, 83);
}

.container{
   display: flex;
   flex-direction: column;
   gap: 20px;
   background-color: rgba(255, 255, 255, 0.795);
   padding: 50px;
   border-radius: 10px;
}

      .tittle{
         display: flex;
         justify-content: center;
      }

      form{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 20px;
      }

      .input{
         width: 290px;
         height: 40px;
         font-size: 1.2em;
         padding: 0px 10px;
         border-radius: 10px;
         border: 1px solid gray;
      }

      .submit{
         width: 100px;
         height: 30px;
         font-size: 1.2em;
         height: 40px;
         width: 150px;
         border-radius: 10px;
         border: none;
         background-color: rgb(15, 15, 99);
         color: white;
         font-weight: 500;
      }

   .link{
      display: flex;
      justify-content: center;
      font-size: 1.1em;
   }

 


